.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}

header {
  padding: 30px 10px 20px;
  border: dotted;
  background-image: url('https://www.knowledge.ca/sites/knowledge.ca/files/styles/show_page/public/shows/miss-fisher-s3-show.jpg?itok=lstqptps');
  font-size: 23px;
  color: #4d004d;
}

footer {
  border-top: solid;
  padding: 30px 10px 20px;
  clear: both;
  text-align: center;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
body {
  font-size: 15px;
  font-family: Helvetica;
  background-color: #f9ecf9;
}
